@{
    ViewData["Title"] = "ResetPasswordDone";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <div>
                Your Password is reseted Successfully
            </div>
            <div>
                <a asp-action="SignIn" asp-controller="Account">LogIn</a>
            </div>
        </div>
    </div>
</div>

